.button {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background: #00b359;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  height: 3.3rem;
  margin-top: 2rem;
  width: 10rem;
}

.editButton {
  padding: 0.5rem;
  border: 1px solid white;
  background: #00b359;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.editButton:hover {
  background: springgreen;
}

@media only screen and (max-width: 1109px) {
  .button {
    width: 100%;
    margin-left: 1rem;
  }
}
